@model VeorCollection.Models.Blog
@{
    Layout = "AnaLayout";
}

<style>
    body, html, .page-wrapper, .sidebar-page-container {
        background-color: #000000 !important;
        color: #ffffff !important;
    }

    .page-title {
        background-color: #dabd82 !important;
        background-image: none !important;
    }

        .page-title h2 {
            color: #000000 !important;
        }

    .blog-detail .inner-box {
        background-color: transparent !important;
    }

    .blog-detail .lower-content h3, .blog-detail .lower-content h4 {
        color: #ffffff !important;
    }

    .blog-detail .lower-content p {
        color: #cccccc !important;
    }

    .blog-detail .image .post-date {
        background-color: #dabd82 !important;
        color: #000000 !important;
    }

    blockquote {
        background-color: #1a1a1a !important;
        border-left: 4px solid #dabd82 !important;
        color: #ffffff !important;
    }

    .sidebar-widget-two {
        background-color: #0a0a0a !important;
        border: 1px solid #333 !important;
    }

    .sidebar-title-two h5 {
        color: #dabd82 !important;
        border-bottom: 1px solid #333;
    }

    .social-list li a {
        color: #dabd82 !important;
    }
</style>

<section class="page-title">
    <div class="auto-container">
        <h2>@Model.Title</h2>
        <ul class="bread-crumb clearfix">
            <li><a href="/VeorCollection/Index">Ana Sayfa</a></li>
            <li><a href="/VeorCollection/Blog">Blog</a></li>
            <li>Detay</li>
        </ul>
    </div>
</section>

<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12">
                <div class="blog-detail">
                    <div class="inner-box">
                        <div class="image">
                            <img src="@Model.ImageUrl" alt="@Model.Title" class="img-fluid" />
                            <div class="post-date">
                                @Model.CreatedDate.Day <br> @Model.CreatedDate.ToString("MMM")
                            </div>
                        </div>
                        <div class="lower-content mt-4">
                            <div class="tags mb-3">
                                <span style="color:#dabd82;"># Etiketler:</span>
                                <span style="color:#ccc;">@Model.MainTag</span>
                                @if (!string.IsNullOrEmpty(Model.OtherTags))
                                {
                                    @foreach (var tag in Model.OtherTags.Split(','))
                                    {
                                        <span style="color:#ccc;">, @tag</span>
                                    }
                                }
                            </div>

                            <h3>@Model.Title</h3>

                            <div class="text-content">
                                @Html.Raw(Model.Content)
                            </div>

                            <blockquote class="mt-4">
                                Moda geçicidir, stil kalıcıdır.
                                <span class="designation">Veor Collection</span>
                                <span class="quote-icon flaticon-quote-2"></span>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12">
                <aside class="sidebar sticky-top">
                    <div class="sidebar-inner">

                        <div class="sidebar-widget-two social-widget">
                            <div class="sidebar-title-two">
                                <h5>Bizi Takip Edin</h5>
                            </div>
                            <div class="widget-content">
                                <ul class="social-list">
                                    <li><span class="icon fa fa-instagram"></span> Instagram <a href="#">Takip Et</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="sidebar-widget-two services-widget">
                            <div class="sidebar-title-two">
                                <h5>Kategoriler</h5>
                            </div>
                            <div class="widget-content">
                                <ul class="category-list-two">
                                    <li><a href="#"><span class="icon flaticon-megaphone-1"></span> @Model.MainTag <span class="number">1</span></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </aside>
            </div>

        </div>
    </div>
</div>